.select-bloc {
    position: relative;
    height: 40px;
}

.select-container {
    position: absolute;
    width: auto;
    background-color: #fff
}

.value-selected {
    font-size: 14px;
    color: #333c48;
    cursor: pointer;
    border: solid 1px #ccc;
    background-color: #fff;
    width: 100%;
    text-align: left;
    background-image: url(arrow-down.png);
    background-repeat: no-repeat;
    background-position: 96%;
    height: 40px;
    padding: 0 7px;
}

.value-selected::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 20px;
    content: "";
}

.select-list-container {
    padding-right: 10px;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    max-height: 200px;
    overflow-y: scroll;
}

.select-list {
    background-color: #fff;
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.select-list li {
    padding: 0 7px;
    height: 20px;
}

.select-list li:hover {
    background-color: #CCC;
    cursor: pointer;
}

.select-hover {
    background-color: #CCC;
}

.activeselect {
    border: solid 0px #ccc;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}